<li class="list-group-item clearfix">
  <%= link_to conversation.subject, conversation_path(conversation), class: bold_unread(conversation, current_user, @box)   %>

  <div class="btn-group-vertical pull-right">
    <% if conversation.is_trashed?(current_user) %>
      <p><%= link_to "Restore", restore_conversation_path(conversation), method: :post %></p>
    <% else %>
      <p><%= link_to "Move to trash", conversation_path(conversation), method: :delete,
                  data: {confirm: "Are you sure?"} %></p>
      <% if conversation.is_unread?(current_user) && @box == "inbox" %>
        <p><%= link_to "Mark as read", mark_as_read_conversation_path(conversation), method: :post %></p>
      <% end %>
    <% end %>
  </div>

  <p><%= render "conversations/participants", conversation: conversation %></p>
  <p><%= conversation.last_message.body %>
    <small>(<span class="text-muted"><%= conversation.last_message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></span>)</small>
  </p>
</li>
