<div class="page-header container">
  <h2 class="col-md-10"><%= @event.title %></h2>
  <% if current_user == @event.user %>
    <div class="col-md-2 button-right"><%= button_to "Edit event", edit_event_path(@event), method: "get", class: "btn btn-primary btn-block" %></div>
  <% end %>
</div>
<div class="container">
  <div class="event_main">
    <div class="event_show">
      <%= image_tag @event.background_image unless @event.background_image.blank? %>
      <div class="text_on_image">
        <div class="event_location_up">
          <h4><%= @event.location %></h4>
          <div style='width: 300px;'>
            <div id="map" style='width: 300px; height: 200px;'></div>
          </div>
        </div>
        <div class="event_show_center"><%= raw(@event.description_html) %></div>
        <div class="event_date_right">Time untill event <%=  distance_of_time_in_words(Time.now, @event.start_at) %></div>
      </div>
    </div>
  </div>
  <div class="friends_invitations">
    <div class="col-md-6">
      <p>Attendees:</p>
      <% EventInvitation.accepted(@event).each do |invitation| %>
       <p><%= invitation.invitee.mailboxer_name%></p>
      <% end %>
    </div>
    <div class="col-md-6">
      <% if @acceptable_link %>
        <%= link_to "accept", accept_event_invitation_path, method: :put %>
        /
        <%= link_to "reject", reject_event_invitation_path, method: :put %>
      <% end %>
    </div>
  </div>
  <% if current_user == @event.user %>
    <%= form_tag event_invitations_path, method: :post do %>
      <div class="form-group">
        <%= label_tag "recipients", "Invite friends" %>
        <%= select_tag "recipients", invite_recipients_options(@chosen_recipient), multiple: true, class: "form-control chosen-it" %>
        <%= hidden_field_tag "event_id", @event.id %>
      </div>
      <%= submit_tag "Invite", class: "btn btn-primary" %>
    <% end %>  
    <div class="sent_invitations">
      *Invitations have been sent to:
      <% @event.event_invitations.each do |invitation| %>
       <%= invitation.invitee.mailboxer_name %>, 
      <% end %>
    </div>
  <% end %>
</div>
