<%= simple_form_for(@post) do |f| %>
  <div class="panel panel-default">
  	<div class="panel-heading">Post</div>
    	<div class="panel-body">
      	<%= f.error_notification %>
      	<%= f.input :content, required: true, label: false, placeholder: "New Post Content Here", input_html: {class: "form-control wow fadeInUp black_text"} %>
        <%= image_tag @post.photo, width: 50 unless @post.photo.blank? %>
        <%= f.input :photo, as: :file %>
        <%= f.input :remove_image, as: :boolean, required: false, label: "Save chosen photo", :input_html => { :checked => true } %>
        <% if @post.persisted? %>
          <%= link_to "Remove existing photo", remove_photo_post_path %>
        <% end %>     
      </div>
    	<div class="panel-footer">
    	 <%= f.button :submit, class: "btn btn-default" %>
    	</div>
  </div>
<% end %>
