<!DOCTYPE html>
<html>
<head>
  <title>Mycliq</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/header" %>
<% flash.each do |type, message| %>
	<div class="alert alert-info fade-in">
	<button class="close" data-dismiss="alert">x</button>
	<%= message %>
	</div>
<% end %>

<%= yield %>

<% if user_signed_in? %>
  <%= javascript_tag do %>
  $(document).ready(function() {

    $.ajaxSetup({ cache: true });
    $.getScript('//connect.facebook.net/en_US/sdk.js', function(){
      FB.init({
        appId: '493192404199133',
        version: 'v2.5'
      });
      $("#invitation_email").on("click", function() {
        FB.ui({
        method: 'send',
        link: 'https://mycliq.herokuapp.com/',
        display: 'popup'
        },
        function(event) {
          var e = event
          if(e != null){
            $("body").prepend('<div class="alert alert-info fade-in"><button class="close" data-dismiss="alert">x</button>Facebook invitation has been sent.</div>');
          }
        });
      });
    });

    var invite = document.getElementById('invitation_email')
    var info = document.getElementsByClassName("alert alert-info fade-in")

    if(invite != undefined && !window.location.hash && info.length < 1) {
        window.location = window.location + '#loaded';
        window.location.reload();
    }

  });
  <% end %>
<% end %>
</body>
</html>
